<div class="question" id="<%= question.short_name %>">
  <%= form_with(model: question) do |form| %>
    <%= question.text %><br>
    <% question.options.each do |option| %>
      <% if question.q_type == 'text' %>
        <%= form.label option.text %><br>
        <%= form.text_field(option.id, :value => option.text_response(@org)) %>
      <% end %>
      <% if question.q_type == 'radio' %>
        <%= form.label option.text %>
        <%= form.radio_button('radio', option.id, checked: option.selected(@org)) %><br>
        <pre><%= option.selected(@org) %></pre>
      <% end %>
    <% end %>
    <%= form.submit %>
  <% end %>
</div>
